{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
  {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0"}}},
  {lager, {git, "git://github.com/erlang-lager/lager", {tag, "3.5.1"}}}
]}.

{plugins, [
  rebar3_run,
  medoc
]}.

{relx, [{release, {blockchain, "0.0.1"},
  [blockchain,
    cowboy,
    cowlib,
    ranch,
    lager,
    goldrush,
    mnesia
  ]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]
}.

{lager, [
  {log_root, "log"},
  {handlers, [
    {lager_console_backend, [{level, debug}]},
    {lager_file_backend, [{file, "error.log"}, {level, error}]},
    {lager_file_backend, [{file, "info.log"}, {level, info}]},
    {lager_file_backend, [{file, "debug.log"}, {level, debug}]}
  ]}
]}.

{profiles, [{prod, [{relx, [{dev_mode, true},
  {include_erts, true}]}]
},
  {test, [{deps, [
    {meck, ".*",
      {git, "git://github.com/eproxus/meck.git", {tag, "0.8.6"}}}
  ]}
  ]}
]
}.